img {
	  position:absolute;
	  top:0px;
	  left:0px;
	  height:768px;
	  width:1024px;
	  margin:0 150px;
	  #opacity:1;
	   border-radius: 18px;
}

#top {
  position:absolute;
  left:0;
  
  #-webkit-transition: opacity 1s ease-in-out;
  #-moz-transition: opacity 1s ease-in-out;
  #-o-transition: opacity 1s ease-in-out;
  #transition: opacity 1s ease-in-out;
}

.caption {
	position:relative;
	color:white;
}

.caption:hover {
	#not work
  color:red;
}

body{
	background-color:black;
}